<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
    <title>轻会议</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link href="__PUBLIC__/css/bootstrap_controller.css" rel="stylesheet">
</head>

<body>
    <div class="container-fluid" id="container-body">
        <div class="row-fluid" id="container-header">
            <div class="row-fluid" id="info-container">

                <div class="span6" id="header">
                    <img src="__PUBLIC__/img/logo2.png" width="56" height="56" />
                    <h3><font color="#FFFFFF">
                        &nbsp;&nbsp;轻会议</font>
                    </h3>
                    <p> &nbsp;&nbsp;Make meeting easier.</p>

                    <h2>最新版本 1.0.0 <small style="color:white">beta</small></h2>
                    <p class="header-span">
                        支持Android 4.0.0及以上版本的系统
                    </p>
                    <div class="row-fluid">
                        <div class="span6" id="dl-btn-left">
                        	<!-- 下载链接 -->
                        	<a href="#">
                            <button class="btn btn-info" type="button"></button>
                            </a>
                            <p style="color:white">
                                <br/>&nbsp;3.2M | 2014-11-13更新
                            </p>
                        </div>
                        <div class="span6">
                        	<!-- 二维码 -->
                            <img src="{:U('home/common/createQRcode','','')}?text=http://www.meizhuo.org&size=100&margin=1">
                        </div>
                    </div>
                </div>
                <!--    span 6 app tamplate -->
                <div class="span6" id="app-tamplate">
                    <img src="__PUBLIC__/img/phone.png" alt="140x140" width="380" height="507" />
                </div>
                <!--    -span 6 app tamplate -->
            </div>

        </div>



        <div class="row-fluid" id="container-middle">

            <div class="span6" id="middle-example1">
            </div>

            <div class="span6" id="middle-sub1">
                <h3>
                    轻会议
                    <br/>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;——让会议变得简单</h3>
                <p>
                    二维码签到；会议内容头脑风暴；
                    <br/> 参会人员名片交换；投票/调查/抽奖； </p>
            </div>
        </div>


        <div class="row-fluid" id="footer">
            <div class="span12">
                <div class="links">
                    <a target="_blank" href="http://meizhuo.github.io/">
                        关于袂卓
                    </a>
                    <a target="_blank" href="http://meizhuo.github.io/blog/">
                         团队博客
                    </a>
                    <a target="_blank" href="https://github.com/meizhuo">
                         开源项目
                    </a>
                </div>
                <address>Copyright 2014 袂卓工作室 北主楼16-08</address>
            </div>
        </div>
    </div>
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
</body>

</html>
