<!DOCTYPE html>
<html lang="en">
<head>
<title>轻会议</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<link rel="stylesheet"
	href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
<body>

	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<div class="span4"></div>
					<div class="span4 text-center">
						<h1>
							轻会议<small>LightMeeting</small>
						</h1>
						<h3>轻会议,重效率</h3>
						<a href="{:U('admin/member/login')}">让我们开始吧</a>
						<h2></h2>
						<p>扫一扫关于袂卓团队博客</p>
						<img
							src="{:U('home/common/createQRcode','','')}?text=http://www.meizhuo.org&size=100&margin=1"></img>
					</div>
					<div class="span4"></div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>