<div class="row-fluid">
			<div class="col-xs-1"></div>
			<div class="col-xs-10">
				<div class="row demo-row">
					<div class="col-xs-12">
						<nav class="navbar navbar-inverse navbar-embossed"
							role="navigation">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle"
									data-toggle="collapse" data-target="#navbar-collapse-01">
									<span class="sr-only">Toggle navigation</span>
								</button>
								<a class="navbar-brand" href="{:U('Admin/Member/index')}">轻会议</a>
							</div>
							<div class="collapse navbar-collapse" id="navbar-collapse-01">
								<ul class="nav navbar-nav navbar-left">
									<li><a href="{:U('Admin/Member/index')}">会议列表</a></li>
									<li><a href="{:U('Admin/Meet/createmeet')}">添加会议</a></li>
									<li><a href="#fakelink">关于我们</a></li>
								</ul>
								<ul class="nav navbar-nav navbar-right">
								<li><a href="javascript:void(0);" id="btn-logout">退出登录</a></li>
								</ul>
							</div>
							<!-- /.navbar-collapse -->
						</nav>
						<!-- /navbar -->
					</div>
				</div>
				<!-- /row -->
			</div>
			<div class="col-xs-1"></div>
		</div>
