<html>

<head>
    <title>轻会议</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css">
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <h1>hi</h1>

    </div>
</body>
<script type="text/javascript">
(function($) {
    console.log('ok!');
})(jQuery)
</script>

</html>
