<html>

<head>
    <title>轻会议</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css">
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>


<body>
    <div class="container">
        <div class="row">
            <div class="col-md-2">.col-md-4</div>
            <div class="col-md-8 text-center">

                <form class="form-horizontal">
                    <fieldset>
                        <div id="legend" class="">
                            <legend class="">Login</legend>
                        </div>


                        <div class="control-group">

                            <!-- Text input-->
                            <label class="control-label" for="input01" >User Name</label>
                            <div class="controls">
                                <input id="username" type="text" placeholder="请输入萌萌哒的名字" class="input-xlarge">
                                <p class="help-block"></p>
                            </div>
                        </div>

                        <div class="control-group">

                            <!-- Text input-->
                            <label class="control-label" for="input01">Password</label>
                            <div class="controls">
                                <input id="password" type="text" placeholder="请输入萌萌哒的密码" class="input-xlarge">
                                <p class="help-block"></p>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label"></label>

                            <!-- Button -->
                            <div class="controls">
                                <button id="btn-ok" class="btn btn-success">登录</button>
                            </div>
                        </div>



                        <div class="control-group">
                            <label class="control-label"></label>

                            <!-- Button -->
                            <div class="controls">
                                <button class="btn btn-inverse">注册</button>
                            </div>
                        </div>

                    </fieldset>
                </form>

            </div>
            <div class="col-md-2">.col-md-4</div>
        </div>

    </div>
</body>
<script type="text/javascript" src="__PUBLIC__/js/qc.js">
</script>
<script type="text/javascript">
(function($) {
    // qc.debug = true;

    // qc.get('/admin/test/get2', {
    //     "name": 'jayin',
    //     'id': 233
    // }, function(response) {
    //     console.log(response);
    // }, function(msg) {
    //     console.log(msg);
    // });


    // qc.post('/admin/test/post', {
    //     "name": 'jayin',
    //     'id': 233
    // }, function(response) {
    //     console.log('ok-->' + response);
    // });


    // qc.post('/admin/test/post1', {
    //     "name": 'jayin',
    //     'id': 233
    // }, function(response) {
    //     console.log('ok-->' + response);
    // }, function(msg) {
    //     console.log('error!' + msg);
    // });

  
    $('#btn-ok').on('click',function(){
          var data = qc.form().add('username',$('#password').val()).add('password').create();
         console.log(data);
    });
})(jQuery);
</script>

</html>
