<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>轻会议--会议详情</title>
    <include file="Base/head"/>


</head>
<body style="background-color: #EDEFF1;">
<div class="container-fluid" style="margin-top: 30px;">
    <div class="row-fluid">
        <div class="col-xs-12"></div>
    </div>


    <include file="Base/menu"/>
</div>


<div class="row-fluid">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">


        <div class="row ">
            <div class="col-xs-12" style="border-color: #fff;">
                <div class="meet ">
                    <div class="jumbotron">
                        <h2>轻会议</h2>
                        <p>&nbsp;&nbsp;&nbsp;致力于为会务管理提供信息化应用服务保障的服务性平台，为你提供按需、自主、轻松的会议保障服务。平台以参会人员的手机、PC等便携式终端设备为载体，通过主动信息推送方式与用户进行信息交互，无论与会者身在何处，都可以及时获取所有会议相关的信息。</p>
                        <p><a class="btn btn-primary btn-lg" href="http://meizhuo.github.io/LightMeeting/">下载应用</a></p>
                    </div>
                    <div class="meet meet-title">开发工程师：唐杰英、黄振炼、李志雄</div>
                    <div class="meet meet-title">首席测试工程师：甄景恩</div>
                    <div class="meet meet-title">首席策划： 杨志海</div>
                    <div class="meet meet-title">首席UI设计师：邹妍</div>
                    <div class="meet meet-title">
                        <strong>
                            © <a href="http://meizhuo.github.io/">Meizhuo Studio</a></strong> 2014
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-1"></div>
</div>
<include file="Base/foot"/>
<script>
    (function ($) {

    })(jQuery);
</script>
</body>
</html>
