<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>轻会议--会议添加</title>

    <include file="Base/head" />


</head>

<body style="background-color: #EDEFF1;">
    <div class="container-fluid" style="margin-top: 30px;">
        <div class="row-fluid">
            <div class="col-xs-12"></div>
        </div>



        <include file="Base/menu" />
        <div class="row-fluid" style="">
            <div class="col-xs-3"></div>
            <div class="col-xs-6">



                <div class="form-group">

                    <span class="input-icon fui-check-inverted">主题</span>
                    <input type="text" id="title" class="form-control login-field" value="" placeholder="输入会议主题" style="height: 42px;" /> <span class="input-icon fui-check-inverted">简介</span>
                    <textarea id="intro" class="form-control login-field" style="height: 238px; width: 706px;" placeholder="输入会议简洁 " style="height: 42px;"></textarea>

                    <span class="input-icon fui-check-inverted">会议地点</span>
                    <input type="text" id="address" class="form-control login-field" value="" placeholder="输入地点" style="height: 42px;" /> <span class="input-icon fui-check-inverted">开始时间</span>
                    <br />
                    <input class="span2 form-control login-field" value="" id="starttime" type="text" style="width: 40%; display: inline" />
                    <font color="#ccc">24小时制时间 :</font>
                    <input class="span2 form-control login-field" value="" id="starttime-h" type="text" style="width: 10%; display: inline;" /> :
                    <input class="span2 form-control login-field" value="" id="starttime-i" type="text" style="width: 10%; display: inline;" />
                    <br /> <span class="input-icon fui-check-inverted">结束时间</span>
                    <br />
                    <input class="span2 form-control login-field" value="" id="endtime" type="text" style="width: 40%; display: inline">
                    <font color="#ccc">24小时制时间 :</font>
                    <input class="span2 form-control login-field" value="" id="endtime-h" type="text" style="width: 10%; display: inline;" /> :
                    <input class="span2 form-control login-field" value="" id="endtime-i" type="text" style="width: 10%; display: inline;" />
                    <br />
                    <br />
                    <a id="btn-creatmeet" class="btn btn-block btn-lg btn-primary">提交</a>


                </div>


            </div>
            <div class="col-xs-3"></div>
        </div>

    </div>






    <include file="Base/foot" />



    <script>
    videojs.options.flash.swf = "__PUBLIC__/flat/dist/js/vendors/video-js.swf";

    (function($) {

        $("#btn-creatmeet").on(
            "click",
            function() {

                s = $("#starttime").val();
                e = endtime = $("#endtime").val();

                //将时间字符串拼接
                starttime = $("#starttime").val() + " " + $("#starttime-h").val() + ":" + $("#starttime-i").val();
                endtime = $("#endtime").val() + " " + $("#endtime-h").val() + ":" + $("#endtime-i").val();
                //将starttime 值替换
                $("#starttime").val(starttime);
                $("#endtime").val(endtime);

                json = qc.form().add("title").add("intro").add(
                        "address").add("starttime").add("endtime")
                    .create();

                //将替换的恢复
                $("#starttime").val(s);
                $("#endtime").val(e);

                qc.post("/Home/Meet/addmeet", json, function(res) {
                    alert("添加成功");
                    location = "{:U('Admin/Member/index')}";
                }, function(msg) {
                    alert(msg);
                });
                //alert(json.endtime);
            });

    })(jQuery);

    $(function() {
        window.prettyPrint && prettyPrint();

        // disabling dates
        var nowTemp = new Date();
        var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(),
            nowTemp.getDate(), 0, 0, 0, 0);

        var checkin = $('#starttime').datepicker({
            format: 'yyyy-mm-dd'

        }).on('changeDate', function(ev) {
            if (ev.date.valueOf() > checkout.date.valueOf()) {
                var newDate = new Date(ev.date)
                newDate.setDate(newDate.getDate() + 1);
                checkout.setValue(newDate);
            }
            checkin.hide();
            //  $('#dpd2')[0].focus();
        }).data('datepicker');
        var checkout = $('#endtime').datepicker({
            format: 'yyyy-mm-dd'
        }).on('changeDate', function(ev) {
            checkout.hide();
        }).data('datepicker');
    });
    </script>
</body>

</html>