<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>轻会议--会议调查</title>
    <include file="Base/head" />


</head>

<body style="background-color: #EDEFF1;">
    <div class="container-fluid" style="margin-top: 30px;">
        <div class="row-fluid">
            <div class="col-xs-12"></div>
        </div>


        <include file="Base/menu" />
    </div>



    <div class="row-fluid">
        <div class="col-xs-1"></div>
        <div class="col-xs-10">


            <div class="row demo-samples">
                <div class="col-xs-3">
                    <include file="Base/meetmenu" />
                </div>
                <div class="col-xs-9" style="border-color: $fff;">
                    <foreach name="Researchs" item="val">
                        <div class="meet" id="meet">
                            <div class="meet meet-title">标题：{$val.title}</div>
                            <div class="meet meet-title">开始时间：{$val.stime|date="Y-m-d H:i:s",###}
                            </div>
                            <div class="meet meet-title">结束时间：{$val.etime|date="Y-m-d H:i:s",###}
                            </div>
                            <div class="meet meet-title">
                                	内容：
                                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$val.intro}
                                </p>
                            </div>

                            <div class="meet meet-title" align="right">

                                <if condition="$LoginMemberid eq $val.memberid "> <span><a
								href="javascript:void(0);" name='btn-delete'
								data-title="{$val.title}" data-id="{$val.id}">删除</a></span>
                                    <span>|<a href="../Meet/updatediscuss/id/{$val.id}.html">更新</a></span>
                                    <else /> </if>
                            </div>

                            <div id="listcomment{$val.id}" class="meet meet-title" style="display: none;"></div>

                        </div>
                    </foreach>
                </div>
            </div>
        </div>
        <div class="col-xs-1"></div>
    </div>
    <include file="Base/foot" />
    <script>
    (function($) {

    });

    })(jQuery);
    </script>
</body>

</html>
