<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>轻会议--会议详情</title>
<include file="Base/head" />


</head>
<body style="background-color: #EDEFF1;">
	<div class="container-fluid" style="margin-top: 30px;">
		<div class="row-fluid">
			<div class="col-xs-12"></div>
		</div>


		<include file="Base/menu" />
	</div>



	<div class="row-fluid">
		<div class="col-xs-1"></div>
		<div class="col-xs-10">


			<div class="row demo-samples">
				<div class="col-xs-3">
					<include file="Base/meetmenu" />
					<!-- /.todo -->
				</div>
				<!-- /.col-xs-4 -->
				<div id="votelist" class="col-xs-9" style="border-color: $fff;">
					<foreach name="vote" item="val">
					<div class="meet" id="meet">
						<div class="meet meet-title">投票主题：{$val.title}</div>

						<div class="meet meet-title">开始时间：{$val.stime|date="Y-m-d
							",###}</div>
						<div class="meet meet-title">结束时间：{$val.etime|date="Y-m-d
							",###}</div>
						<div class="meet meet-title">
							简介：
							<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$val.intro}</p>
						</div>


						<div class="meet meet-title" align="right">
							<span><a href="javascript:void(0);" data-voteid="{$val.id}" name='btn-votelist'>查看投票</a></span>
						</div>

					<div class="meet  meet-title" id="options" style="display:none">
					</div>

					</div>


					</foreach>
					
					<div id="optionlist" style="display:none">
					<div class="meet meet-listm" >
							{%content%}
						</div>
						</div>

				</div>
			</div>
		</div>
		<div class="col-xs-1"></div>
	</div>
	<include file="Base/foot" />
	<script>
		(function($) {
			
			var optionlist=$("#optionlist").html();
		
			$("#votelist").on("click","[name=btn-votelist]",function(){
				
				var voteid=$(this).data("voteid");
				DivOptionlist=$(this).parent().parent().next();
				var data = {};
				data.voteid=voteid
				qc.post("/home/vote/info/",data,function(res){
					DivOptionlist.html("");
					var ResOption=res.option;
					for(val in ResOption){
						str=optionlist;
						str=str.replace("{%content%}",ResOption[val].vpintro);
						DivOptionlist.append(str);
					}	
					
				},function(msg){
					swal(msg);
				});

				//DivOptionlist.append(optionlist);
				if(DivOptionlist.css("display")=="none"){
					DivOptionlist.slideDown();
				}else{
					DivOptionlist.slideUp();
				}

			});

		})(jQuery);
	</script>
</body>
</html>
