<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>轻会议--会员注册</title>
<meta name="description"
	content="Flat UI Kit Free is a Twitter Bootstrap Framework design and Theme, this responsive framework includes a PSD and HTML version." />

<meta name="viewport"
	content="width=1000, initial-scale=1.0, maximum-scale=1.0">

<!-- Loading Bootstrap -->
<link href="__PUBLIC__/flat/dist/css/vendor/bootstrap.min.css"
	rel="stylesheet">
<link href="__PUBLIC__/flat/dist/css/myself.css" rel="stylesheet">
<!-- Loading Flat UI -->
<link href="__PUBLIC__/flat/dist/css/flat-ui.css" rel="stylesheet">
<link href="__PUBLIC__/flat/docs/assets/css/demo.css" rel="stylesheet">


<link rel="shortcut icon" href="img/favicon.ico">

<!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
<!--[if lt IE 9]>
      <script src="__PUBLIC__/flat/dist/js/vendor/html5shiv.js"></script>
      <script src="__PUBLIC__/flat/dist/js/vendor/respond.min.js"></script>
    <![endif]-->
</head>
<body style="background-color: #EDEFF1;">
	<div class="container-fluid" style="margin-top: 30px;">
		<div class="row-fluid">
			<div class="col-xs-12"></div>
		</div>


		<div class="row-fluid">
			<div class="col-xs-1"></div>
			<div class="col-xs-10">
				<div class="row demo-row">
					<div class="col-xs-12">
						<nav class="navbar navbar-inverse navbar-embossed"
							role="navigation">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle"
									data-toggle="collapse" data-target="#navbar-collapse-01">
									<span class="sr-only">Toggle navigation</span>
								</button>
								<a class="navbar-brand" href="index">个人中心</a>
							</div>
							<div class="collapse navbar-collapse" id="navbar-collapse-01">
								<ul class="nav navbar-nav navbar-left">
									<li><a href="#index">会议列表<span
											class="navbar-unread">1</span></a></li>
									<li><a href="../Meet/createmeet">添加会议</a></li>
									<li><a href="#fakelink">关于我们</a></li>
								</ul>

							</div>
							<!-- /.navbar-collapse -->
						</nav>
						<!-- /navbar -->
					</div>
				</div>
				<!-- /row -->
			</div>
		</div>
		<div class="col-xs-1"></div>
	</div>



	<div class="row-fluid">
		<div class="col-xs-1"></div>
		<div class="col-xs-10">


			<div class="row demo-samples">
				<div class="col-xs-4">
					<div class="mytodo">
						<ul>
							<li class="mytodo-done">
								<div class="mytodo-icon fui-user"></div>
								<div class="mytodo-content">

									<h6>
										{$Member["nickname"]}
									</h6>

								</div>
							</li>
							<li class="mytodo-done">
								<div class="mytodo-icon fui-heart"></div>
								<div class="mytodo-content">
									<h6>
								
                
                <if  condition="$Member['sex']=='m' ">男<else /> 女</if>
									</h6>
								</div>
							</li>
							<li class="mytodo-done">
								<div class="mytodo-icon fui-mail"></div>
								<div class="mytodo-content">
									<h6>
										{$Member["email"]}
									</h6>
								</div>
							</li>
							<li class="mytodo-done">
								<div class="mytodo-icon fui-window"></div>
								<div class="mytodo-content">
									<h6>
										{$Member["phone"]}
									</h6>
								</div>
							</li>
						</ul>
					</div>
					<!-- /.todo -->
				</div>
				<!-- /.col-xs-4 -->
				<div class="col-xs-8">

       <foreach name="Meet" item="val" >
					<div class="meet" id="meet">
						<div class="meet meet-title">
							{$val.title}

						</div>

						<div class="meet meet-title">
							简介：
							<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$val.intro}</p>
						</div>
						<div class="meet meet-title">地址：{$val.address}</div>
						<div class="meet meet-title">开始时间：{$val.starttime}</div>
						<div class="meet meet-title">结束时间：{$val.endtime}</div>
						<div class="meet meet-title" align="right">
						<span><a href="javascript:void(0);" name='btn-delete' data-title="{$val.title}" data-id="{$val.id}">删除</a>|</span>
						<span><a href="../Meet/updatemeet/id/{$val.id}.html">更新</a></span>
						</div>
						
					</div>
					
                  </foreach>

				</div>


				<div class="row-fluid">
					<div class="col-xs-12"">
						<h6 class="text-center">
							2014 by <a href="http://www.meizhuo.org">meizhuo.org</a>
						</h6>
					</div>
				</div>
			</div>

			<script src="__PUBLIC__/flat/dist/js/vendor/jquery.min.js"></script>
			<script src="__PUBLIC__/flat/dist/js/flat-ui.min.js"></script>
			<script src="__PUBLIC__/flat/docs/assets/js/application.js"></script>
			<script src="__PUBLIC__/js/qc.js"></script>

			<script>
				videojs.options.flash.swf = "__PUBLIC__/flat/dist/js/vendors/video-js.swf";

				/*    data = form().add("username").add("sex",)
				   			   )
				  data.s1=$("#"+s1+""); */
(function($) {
	$("[name=btn-delete]").on("click",function(){
		var $ele = $(this);
		var id = $ele.data('id');
		var title = $ele.data('title');
		if(confirm('你确定删除会议 《'  + title+'》 吗? ')){
			qc.post("/Home/Meet/deletemeet",
					{"meetid":id},
					function(res){
						alert("删除成功");
						//闪烁不显示
						$ele.parent().parent().parent().fadeOut();
					},
					function (msg){
						alert(msg);
					}
					);
		}
	});
	
})(jQuery);
			</script>
</body>
</html>
