<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>轻会议--会员登录</title>
    <meta name="description" content="Flat UI Kit Free is a Twitter Bootstrap Framework design and Theme, this responsive framework includes a PSD and HTML version."/>

    <meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="__PUBLIC__/flat/dist/css/vendor/bootstrap.min.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="__PUBLIC__/flat/dist/css/flat-ui.css" rel="stylesheet">
    <link href="__PUBLIC__/flat/docs/assets/css/demo.css" rel="stylesheet">

    <link rel="shortcut icon" href="img/favicon.ico">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="__PUBLIC__/flat/dist/js/vendor/html5shiv.js"></script>
      <script src="__PUBLIC__/flat/dist/js/vendor/respond.min.js"></script>
    <![endif]-->
  </head>
    <body>
      <div class="container" style="margin-top: 80px;">
         <div class="login">
        <div class="login-screen">
          <div class="login-icon">
           
            <h4>欢迎来到 <small>轻会议</small></h4>
          </div>

          <div class="login-form">
            <div class="form-group">
              <input type="text" class="form-control login-field" value="" placeholder="输入用户名" id="login-username" />
              <label class="login-field-icon fui-user" for="login-name"></label>
            </div>

            <div class="form-group">
              <input type="password" class="form-control login-field" value="" placeholder="输入密码" id="login-password" />
              <label class="login-field-icon fui-lock" for="login-pass"></label>
            </div>

            <a class="btn btn-primary btn-lg btn-block" onclick="login()" href="#">登录</a>
            <a class="login-link" href="register">用户注册</a>
          </div>
        </div>
      </div>
      </div>
    <script src="__PUBLIC__/flat/dist/js/vendor/jquery.min.js"></script>
    <script src="__PUBLIC__/flat/dist/js/flat-ui.min.js"></script>
    <script src="__PUBLIC__/flat/docs/assets/js/application.js"></script>

    <script>
      videojs.options.flash.swf = "__PUBLIC__/flat/dist/js/vendors/video-js.swf"
      
      function login(){
    	  
    	  username=$("#login-username").val();
    	  password=$("#login-password").val();
    	  
    	  url="{:U('Home/Member/login','','')}";
    	  var data={};
    	  data.username=username;
    	  data.password=password;
    	  //alert(data);
    	  $.post(url,data,function(reqData){
    		  if(reqData.code==20000){
    			  alert("登录成功");
    		  }else{
    			  alert("登录失败");
    		  }
    	  });
    	  
    	  
      }
      
      
    </script>
  </body>
</html>
    