<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>轻会议--会员登录</title>
    <include file="Base/head" />

    <link href="__PUBLIC__/bootstrap-sweetalert/css/sweet-alert.css" rel="stylesheet">
    <link href="__PUBLIC__/css/login.css" rel="stylesheet">

    <script type="text/javascript" src="__PUBLIC__/bootstrap-sweetalert/js/sweet-alert.min.js"></script>
</head>

<body >
    <div class="container" style="margin-top: 80px;">
        <div >
            <!--class="login"-->
            <div class="login-screen" style="background: transparent">

                <div class="login-form">
                    <h4>轻会议<small style="color:rgb(52, 73, 94)">&nbsp;让会议更简单</small></h4>
                    <div class="form-group">
                        <input type="text" class="form-control login-field" value="" placeholder="输入用户名" id="username" />
                        <label class="login-field-icon fui-user"></label>
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control login-field" value="" placeholder="输入密码" id="password" />
                        <label class="login-field-icon fui-lock" ></label>
                    </div>

                    <a id="btn-login" class="btn btn-primary btn-lg btn-block">登录</a>
                    <a class="btn btn-info btn-log btn-block" href="register">用户注册</a>
                    <div class="login-link">
                        <a href="{:U('Home/Index/download')}">下载应用</a>|
                        <a>忘记密码?</a>
                    </div>

                </div>
            </div>
        </div>
        <footer>
            <div>
                <a target="_blank" href="http://meizhuo.github.io/">
                    关于袂卓
                </a>
                <a target="_blank" href="http://meizhuo.github.io/blog/">
                    团队博客
                </a>
                <a target="_blank" href="https://github.com/meizhuo">
                    开源项目
                </a>
            </div>

        </footer>
    </div>
    <script src="__PUBLIC__/flat/dist/js/vendor/jquery.min.js"></script>
    <script src="__PUBLIC__/flat/dist/js/flat-ui.min.js"></script>
    <script src="__PUBLIC__/flat/docs/assets/js/application.js"></script>
    <script src="__PUBLIC__/js/qc.js"></script>
    <script>
    (function($) {
        $('#btn-login').on('click', function() {
            qc.debug = true;
            var data = qc.form().add('username').add('password').create();
            if (data === '' || data.password === '') {
                swal("请输入登陆信息", "", "warning");
                return;
            }
            qc.post("/Home/Member/login", data, function(res) {
                swal({
                    title: "登录成功!",
                    text: "",
                    type: "success",
                    confirmButtonText: "进入",
                    closeOnConfirm: false
                }, function() {
                    location = "{:U('Admin/Member/index')}";
                });
            }, function(msg) {
                swal(msg,"","error");

            });
        });
    })(jQuery);
    </script>
</body>

</html>
