<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{$Document['title']|default='无'}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/typo.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/document.css">
</head>
<body >
	<div class="container-fluid" style="padding-top: 30px;">
		<div class="row-fluid">
			<div class="col-xs-12"></div>
		</div>
		<div class="row-fluid">
			<div class="col-xs-12 " style="border-color: #fff;">
				<h2 class="text-center document-title">{$Document['title']}</h2>
				<div class="text-center document-time">{$Document['ctime']}</div>
				<div class="document-content">{$Document['content']}</div>
			</div>
		</div>
	</div>
</body>
</html>
